{% extends 'base.html' %}

{% block contents %}


<table class="table">
    <thead>
        <tr>
            <th>title</th>
            <th>body</th>
            <th>作成日</th>
            <th>更新日</th>
        </tr>
    </thead>

    <tbody>
        {% for item in search_list %}
        <tr>
            <a href="{% url 'detail' item.id %}">
                <td><a href="{% url 'detail' item.id %}">{{ item.title }}</a></td>
                <td>{{ item.body }}</td>
                <td>{{ item.created_at }}</td>
                <td>{{ item.updated_at }}</td>
            </a>
        </tr>
        {% endfor %}
    </tbody>
    
</table>




{% endblock %}